.sidenav{
    position: fixed;
    display: flex;
    flex-direction: column ;
    justify-content: space-between;
    z-index: 1;
    border-right: 0.5px solid rgb(38, 38, 38) ;
    width: 240px;
    background-color: #000;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.sidenav__logo{
    width: 120px;
    margin: 15px;
    filter: invert();
}

.sidenav__buttons{
    display: flex;
    flex-direction: column;

}

.sidenav__button{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
    background-color: #000;
    border: 0;
    margin: 10px 15px 10px 10px;
    padding:10px 15px 10px 10px;
    border-radius: 8px;
    width: 80%;
    transition: 0.5s ease all;
}

.sidenav__button:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.128);
}

.sidenav__button>span{
    font-size: 17px;
    font-weight: bolder;
    margin-left: 10px;
}

#sidenav__more{
   margin-top: 90px;
}


